:root {
    --yellow: #F0BB02;
    --black: #1B1B1B;
    --darkgrey: #999999;
    --grey: rgba(0, 0, 0, 0.20);
    --text-shadow-black: 0px 0px 10px black;
    --text-shadow-white: 0px 0px 10px white;
}