.main__user-component {
    display: flex;
    margin-top: 20px;
}

.plusset {
    justify-content: space-between;
}

.thumbnail-and-status {
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.main__user-component__thumbnail {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 38%;
}

.main__user-component__statusset {
    margin-left: 15px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main__user-component__statusset-username {
    font-size: 16px;
    font-weight: 700;
}

.main__user-component__statusset-usermessage {
    font-size: 14px;
    font-weight: 600;
    color: var(--darkgrey);
}

.main__section__title-line {
    font-size: 11px;
    color: var(--darkgrey);
    display: flex;
    justify-content: space-between;
}

.main__section {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    padding-top: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}